* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
    --font-family: 'Josefin Sans', sans-serif;
    --linear1: linear-gradient(135deg, rgb(226, 222, 222), rgb(245, 141, 141));
    --linear2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

body {
    display: grid;
    font-family: var(--font-family);
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
}

.header {
    padding: 3em 2em 1em;
    align-self: flex-start;
}

.hero  {
    max-width: 100%;
}

.hero > img {
    width: 100%;
}

.article {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.title {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.2em;
    color: var(--dark-grayish-red);
}

.we-are {
    font-weight: lighter;
    color: var(--desaturated-red);
}

.text {
    color: var(--desaturated-red);
    line-height: 1.5em;
}

.input {
    color: var(--dark-grayish-red);
    border: none;   
    outline: none;
    width: 100%;
    height: 100%;
    background: transparent;
    letter-spacing: 0.2em;
}



.input-container {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 1em;
    border-radius: 5em;
    border: 1px solid var(--desaturated-red);
}

.input::placeholder {
    font-family: var(--font-family);
    color: var(--desaturated-red);
    font-weight: normal;
}


.arrow {
    cursor: pointer;
    width: 7em;
    height: 3em;
    background: var(--linear2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5em;
}

.arrow:hover {
    background: var(--linear1);
    box-shadow: 1px 1px 5px var(--soft-red);
}

.error {
    display: none;
}

.error-text {
    display: none;
    margin-top: -1.5em;
    padding-left: 1em;
    color: var(--soft-red);
}

.success {
    display: none;
    flex-direction: column;
    margin-top: -1.5em;
    padding-left: 1em;
    color: var(--desaturated-red);
}

@media (min-width: 768px){
    .header {
        grid-area: hea;
    }

    .hero {
        grid-area: her;
    }

    .hero > img {
        height: 100%;
    }

    .article {
        grid-area: art;
    }

    .main {
        background-image: url('images/bg-pattern-desktop.svg');
        text-align: start;
        min-width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(11, minmax(4em,1fr));
        grid-template-areas: 
            '... hea hea hea hea  ... her her her her her'
            '... art art art art  ... her her her her her'
        ;
    }
}